# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules
node_modules/

# Local environment files
.env

text.txt

uplodas

.env.prod
.env.dev

# IDE settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
